<!DOCTYPE html>
<html lang="en">
  <%- include('./commen/head.ejs') %>
  <body>
    <%- include('./commen/navbar.ejs') %>

    <div class="container center-align">
      <i class="material-icons prefix">sentiment_very_dissatisfied</i>
      <h2>OOPS !</h2>
      <h3>404 - Page Not Found</h3>
    </div>
  </body>
</html>
