<!DOCTYPE html>
<html lang="en">
  <%- include('./commen/head.ejs') %>
  <body>
    <%- include('./commen/navbar.ejs') %>

    <div class="container">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="name" type="text" class="validate" name="name" />
              <label for="name">Shopping Cart</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">request_quote</i>
              <input id="price" type="tel" class="validate" name="price" />
              <label for="price">price</label>
            </div>
          </div>
          <button class="btn">Add Item</button>
        </form>
      </div>
    </div>
  </body>
</html>
