<nav>
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo right">Jai</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/contact">Add Item</a></li>
    </ul>
  </div>
</nav>
